.knowbase {
    padding-top: 140px;
    padding-bottom: 152px;
}

.knowbase__link {
    display: inline-block;
    margin-bottom: 40px;
    padding: 15px 60px;
    border: 2px solid #585261;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 190%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff
}

.knowbase__link:hover, .knowbase__link:active, .knowbase__link:focus {
    background-color: #585261;
}

.knowbase__title {
    margin-bottom: 47px;
}

.knowbase__card-wrap {
    display: flex;
    justify-content: space-between;
    background-color: #29272C;
    align-items: center;
    margin-bottom: 19px;
} 

.knowbase__card-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    
}

.knowbase_card-link-desc {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    background-image: url(../img/svg/pdf-ico.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 0 10px 46px;
    margin-left: 33px;
    color: #fff;
}

.knowbase_card-link {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 70px;
    margin-left: 30px;
    color: #D04F45;
}

.knowbase__card-desc {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 42px;
}

@media screen and (max-width: 768px) {
    .knowbase__card-pic {
        text-align: center;
        margin-bottom: 20px;
    }
    .knowbase__card-wrap {
        padding-top: 20px;
        display: block;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 574px) {
    .knowbase  {
        text-align: center;
        padding-bottom: 50px;
    }

    .knowbase__card-links {
        display: block;
    }

    .knowbase_card-link-desc {
        display: inline-block;
        margin: 0 0 20px 0;
        padding: 0;
        padding-top: 40px;
        background-position: center top;
    }

    .knowbase_card-link {
        display: block;
        margin: 0;
    }

}
