/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: url(../img/bg-001.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #202020;
   /* background-size: cover;*/
}

img{
  max-width: 100%;
  height: auto;
} 

.wrapper{
    width: 962px;
    margin: 0 auto;
}

h2 {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 190%;
    color: #9E9E9E;;
}


  /* Header styles start */

.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
}

.header__list{
    display: flex;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 80px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #797979;
    text-decoration: none;
}

.header__link:hover, .header__link:focus:active{
    color: #fff;
}
  /* Header styles end */

  /* Intro styles start */

.intro{
    min-height: 100vh;
    width: 100%;
    padding-top: 158px;
      
}

.intro__title{
    max-width: 542px;
    font-weight: 400;
    font-size: 41px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 25px;
}

.intro__title span {
    font-weight: 700;
}

.intro__subtitle{
    max-width: 495px;
    font-weight: normal;
    font-size: 18px;
    line-height: 190%;
    color: #B9B9B9;
    margin-bottom: 46px;
}

.intro__more{
    font-weight: bold;
    font-size: 14px;
    line-height: 190%;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
    background-image: url(../img/red-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    
    padding: 38px 92px 34px 21px;;
}

.intro__more:hover, .intro__more:focus, .intro__more:active{
    opacity: .65;
}

/* Intro styles end */

/* Desc_01 styles start */

.desc_01__wrapper {
    background-image: url(../img/city.png);
    background-size: 795px 481px;
    background-repeat: no-repeat;
    background-position: center top;
}

.desc_01__title {
    padding-top: 317px;
    margin-bottom: 23px;
}

.desc_01__text {
    text-align: center;
    margin-bottom: 100px;
}

.desc_01__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 29px;
    
}

.desc_01__item {
    color: #fff;
    font-size: 22px;
    padding: 10px 0 10px 60px;
    margin-left: 20%;
    margin-bottom: 20px;
    background-image: url(../img/check-box.png);
    background-repeat: no-repeat;
    background-position: left center;
}
/*
.desc_01__item {
    color: #fff;
    font-size: 22px;
    position: relative;
    text-align: center;
    display: inline-block;
    position: relative;
    padding-left: 60px;
    margin-left: 20%;
    margin-bottom: 30px;
}

.desc_01__item::before {
    content: '';
    position: absolute;
    left: 0; 
    display: block;
    background-image: url(../img/check-box.png);
    background-repeat: no-repeat;
    width: 67px;
    height: 57px;
    top: calc(50% - 30px);
}
*/

.desc_01__item:last-child {
    margin-bottom: 114px;
}
/* Desc_01 styles end */

.diagrams__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 22px;
    margin-bottom: 90px;
}

.diagrams__title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 17px;
}

.diagrams__desc {
    margin-bottom: 44px;
}

.diagrams__pic-block {
    text-align: center;
}

.diagrams__text {
    font-size: 14px;
    margin-bottom: 8px;
}

.diagrams__bar-wrap {
    margin-bottom: 22px;
}

.diagrams__bar-wrap:last-child {
    margin-bottom: 0;
}

.diagrams__bar {
    width: 100%;
    height: 24px;
    background-color: #000;
    position: relative;
}
.diagrams__value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    background-color: #3FB6B6;
    color: #000;
}
.diagrams__value-01 {
    width: 63%;
}

.diagrams__value-02 {
    width: 48%;
}

.diagrams__value-03 {
    width: 87%;
}

.diagrams__value-04 {
    width: 75%;
}

.diagrams__value-05 {
    width: 25%;
}

/* Why start */

.why_title {
    margin-bottom: 10px;
}
.why__box {
    background-image: url(../img/bg-waves.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 440px;
}

.why__cards {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;

}

.why__desc {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    position: relative;
    padding-left: 46px;


}

.why__desc::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    
}

.why__desc-01::before {
    background-image: url(../img/svg/why-ico-01.svg);
}

.why__desc-02::before {
    background-image: url(../img/svg/why-ico-02.svg);
}

.why__desc-03::before {
    background-image: url(../img/svg/why-ico-03.svg);
}

.why__desc-04::before {
    background-image: url(../img/svg/why-ico-04.svg);
}

.why__desc-05::before {
    background-image: url(../img/svg/why-ico-05.svg);
}

.why__desc-06::before {
    background-image: url(../img/svg/why-ico-06.svg);
}


/* Why end */

/* Services styles start */
.services__title{
   margin-bottom: 43px;

}

.services__nav{
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}

.services__nav-left{
    
    width: 30px;
    height: 30px;
    background: url(../img/svg/arr-left-ico.svg) no-repeat;
    margin-right: 20px;
}

.services__nav-right{
    
    width: 30px;
    height: 30px;
    background: url(../img/svg/arr-right-ico.svg) no-repeat;
}

.services__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 22px;
    margin-bottom: 175px;
}

.services__card {
    grid-column: span 1;
    height: 447px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.4);
    position: relative;
}

.services__card-01 {
    background-image: url(../img/Serv-card-bg-01.jpg);
}

.services__card-02 {
    background-image: url(../img/Serv-card-bg-02.jpg);
}

.services__card-03 {
    background-image: url(../img/Serv-card-bg-03.jpg);
}

.services__card-title {
    margin-top: 62px;
    margin-left: 30px;
    max-width: 186px;
    font-weight: 500;
    font-size: 16px;
    line-height: 154.4%;
    margin-bottom: 9px;
}

.services__card-title-one::after {
    content: '';
    background-image: url(../img/svg/serv-ico-1.svg);
    display: block;
    width: 46px;
    height: 67px;
    position: absolute;
    top: 66px;
    right: 25px;
}

.services__card-title-two::after {
    content: '';
    background-image: url(../img/svg/serv-ico-2.svg);
    display: block;
    width: 64px;
    height: 71px;
    position: absolute;
    top: 58px;
    right: 58px;
}

.services__card-title-three::after {
    content: '';
    background-image: url(../img/svg/serv-ico-3.svg);
    display: block;
    width: 71px;
    height: 67px;
    position: absolute;
    top: 58px;
    right: 7px;
}

.services__card-desc {
    max-width: 253px;
    margin-left: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 194.4%;
    color: #BBBBBB;
}

/* Services styles end */

/* Benefits stylts start */

.benefits__title {
    margin-bottom: 100px;
}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 22px;
    margin-bottom: 40px;
} 

.benefits__card {
    padding-top: 160px;
    position: relative;
}
.benefits__card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;

}

.benefits__card-01::before {
    background-image: url(../img/bnf-ico-01.png);
}

.benefits__card-02::before {
    background-image: url(../img/bnf-ico-02.png);
}

.benefits__card-03::before {
    background-image: url(../img/bnf-ico-03.png);
}

.benefits__card-04::before {
    background-image: url(../img/bnf-ico-04.png);
    top: -10px;
}

.benefits__card-title {
    font-family: Montserrat Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 22px;
    color: #ccc;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 194.4%;
}

/* Benefits stylts end */


/* Work styles start */

.work__title{
    margin-bottom: 60px;
    
}

.work__card{
    padding-top: 120px;
    height: 313px;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 60px;
}



.work__card-01::before {
    content: '';
    background-image: url(../img/svg/work-ico-01.svg);
    position: absolute;
    width: 120px;
    height: 141px;
    top: 100px;
    right: 125px;
}

.work__card-02::before {
    content: '';
    background-image: url(../img/svg/work-ico-02.svg);
    position: absolute;
    width: 120px;
    height: 141px;
    top: 100px;
    left: 140px;
}

.work__card-03::before {
    content: '';
    background-image: url(../img/svg/work-ico-03.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 129px;
    height: 127px;
    top: 100px;
    right: 125px;
}

.work__card-04::before {
    content: '';
    background-image: url(../img/svg/work-ico-04.svg);
    position: absolute;
    width: 166px;
    height: 158px;
    top: 100px;
    left: 140px;
}

.work__card-05::before {
    content: '';
    background-image: url(../img/svg/work-ico-05.svg);
    position: absolute;
    width: 127px;
    height: 140px;
    top: 100px;
    right: 125px;
}

/*.work__card-01 {
    background-image: url(../img/Work-ico-01.png);
    background-position: top right;
    position: relative;
}*/



/*
 .work__card-02 {
    background-image: url(../img/Work-ico-02.png);
    background-position: top left;
}

.work__card-03 {
    background-image: url(../img/Work-ico-03.png);
    background-position: top right;
} 

.work__card-04 {
    background-image: url(../img/Work-ico-04.png);
    background-position: top left;
}

.work__card-05 {
    background-image: url(../img/Work-ico-05.png);
    background-position: top right;
}
*/
.work__digit::before{
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
}
.work__digit-01::before {
    background-image: url(../img/svg/digit-01.svg);
    width: 96px;
    height: 80px;
    top: 30px;
    left: 0;
}

.work__digit-02::before {
    background-image: url(../img/svg/digit-02.svg);
    width: 96px;
    height: 80px;
    top: 30px;
    right: 0;
}

.work__digit-03::before {
    background-image: url(../img/svg/digit-03.svg);
    width: 96px;
    height: 80px;
    top: 30px;
    left: 0;
}
.work__digit-04::before {
    background-image: url(../img/svg/digit-04.svg);
    width: 96px;
    height: 80px;
    top: 30px;
    right: 0;
}

.work__digit-05::before {
    background-image: url(../img/svg/digit-05.svg);
    width: 96px;
    height: 80px;
    top: 30px;
    left: 0;
}


.work__subtitle{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 17px;
}
.work__subtitle-right {
    text-align: right;
}

.work__desс{
    max-width: 600px;
    font-weight: normal;
    font-size: 18px;
    line-height: 190%;
    color: #9e9e9e;
    margin-bottom: 16px;
}

.work__desс-right {
    text-align: right;
    margin-left: auto;
}

.work__more {
    display: block;
    background-image: url(../img/svg/arr-right-ico.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.work__more-right {
    margin-left: auto;
    background-image: url(../img/svg/arr-left-ico.svg);
}

/* Work styles end */

/* Parthners styles start */
.parthers__title{
    margin-bottom: 60px;
}

.partners__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
    margin-bottom: 124px;

} 

.parthers__card {
    
    text-align: center;
    position: relative;
    height: 100px;
    
    
}

.parthers__card img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
   
    
    
}



/* Parthners styles end */

/* Contacts styles start */
.contacts__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 22px;
    
}

.contacts__logo {
    margin-bottom: 30px;
}

.contacts__item {
    font-size: 16px;
    line-height: 20px;
    color: #A5A5A5;
    margin-bottom: 27px;
    padding-left: 36px;
    position: relative;
}

.contacts__item::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    top: -4px;
    left: 0;
}

.contacts__item-01::before {
    background-image: url(../img/svg/contacts-ico-01.svg);
    
}

.contacts__item-02::before {
    background-image: url(../img/svg/contacts-ico-02.svg);
    width: 20px;
    height: 28px;
}

.contacts__item-03::before {
    background-image: url(../img/svg/contacts-ico-03.svg);
    
}

.contacts__item-04::before {
    background-image: url(../img/svg/contacts-ico-04.svg);
    
}



.contacts__form-title {

    text-align: left;
    padding-left: 40px;
    position: relative;
}

.contacts__form-title::before {
    content: '';
    background-image: url(../img/svg/Envelope-ico.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 6px;
    left: 0;
}

.send-form__wrap {
    margin-top: 30px;
}

.send-form__field {
    
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #424242;
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.send-form__field::placeholder {
    color: #616161;
}

.send-form_submit {
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    color: #fff;
    background-image: url(../img/red-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 38px 92px 34px 21px;;
    margin-bottom: 60px;
    
}

.send-form_submit:hover, .send-form_submit:focus, .send-form_submit:active {
    opacity: .65;
}



/* Contacts styles end */


/* Footer styles start */
.footer {
    border-top: 1px solid #373737;
}
.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.footer__item{
    padding-top: 20px;
    padding-bottom: 34px;
}

.footer__link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #4D4D4D;
}

.footer__link:hover, .footer__link:focus:active{
    color: #fff;
}

/* Footer styles end */